networks:
  shared-net:
    name: shared-microservices-net
    external: true

services:
  mysql:
    container_name: "gps_db"
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    networks:
      - shared-net
    command: ["--default-authentication-plugin=mysql_native_password"]
    volumes:
      - ./volumes/mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  gps-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gps-service
    ports:
      - "80:3000"
    env_file:
      - .env.production
    restart: unless-stopped
    networks:
      - shared-net
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://localhost:${APP_PORT}",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
