services:
  nats-server:
    image: nats:2.10-alpine
    container_name: nats
    ports:
      - '4222:4222' # Client connections
      - '8222:8222' # HTTP monitoring
    volumes:
      - ./volumes/nats-prod:/data
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:8222/healthz',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - '3100:3100'
    command: -config.file=/etc/loki/local-config.yaml

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - '3000:3000'
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    depends_on:
      - loki

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - ./promtail-config.yml:/etc/promtail/config.yml
      - ./volumes/promtail/var/log:/var/log # scrape host logs (optional)
      - ./volumes/promtail/var/lib/docker/containers:/var/lib/docker/containers # scrape Docker logs
    command: -config.file=/etc/promtail/config.yml
    depends_on:
      - loki

volumes:
  nats-server:
    driver: local
  nats-logs:
    driver: local
