# Ignore node and build artifacts
node_modules
dist
coverage

# Logs
npm-debug.log
*.log

# Tests
test
*.test.ts
*.spec.ts

# Git
.git

# Environment files
.env*
.env

# Editor & config
.vscode
.idea
jest.config.*
tsconfig*.json
nest-cli.json

# Docs & extras
README.md
*.md