services:
  mysql:
    container_name: 'user_db'
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '${MYSQL_PORT}:3306'
    command: ['--default-authentication-plugin=mysql_native_password']
    volumes:
      - ./docker-volumes/mysql_data:/var/lib/mysql

  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - '${APP_PORT}:3000'
    env_file:
      - .env.staging
    restart: unless-stopped
    depends_on:
      - mysql
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:${APP_PORT}',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s
