services:
  user-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: trip-sync/user-service:staging
    container_name: user-service
    ports:
      - '8080:80'
    env_file:
      - .env.staging
    restart: unless-stopped
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:80/health',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  user-service-data:
