networks:
  shared-net:
    name: shared-microservices-net
    external: true

services:
  mysql:
    container_name: trip_db
    image: mysql:8.0
    restart: unless-stopped
    env_file:
      - .env.staging
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - '3308:3306'
    networks:
      - shared-net
    command: ['--default-authentication-plugin=mysql_native_password']
    volumes:
      - ./volumes/mysql_data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis-cache:
    container_name: redis-cache
    image: redis:7-alpine
    restart: unless-stopped
    env_file:
      - .env.staging
    ports:
      - '${REDIS_PORT}:6379'
    networks:
      - shared-net
    volumes:
      - ./volumes/redis_data:/data
    command: redis-server --appendonly yes

  trip-service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trip-service
    ports:
      - '${APP_PORT}:3000'
    env_file:
      - .env.staging
    restart: unless-stopped
    networks:
      - shared-net
    depends_on:
      mysql:
        condition: service_healthy
