services:
  media-service:
    build:
      context: .
      dockerfile: Dockerfile
    image: trip-sync/media-service:staging
    container_name: media-service
    ports:
      - '8081:${APP_PORT}'
    env_file:
      - .env.staging
    restart: unless-stopped
    networks:
      - shared-net
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:8081/health',
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  media-service-data:

networks:
  shared-net:
    external: true
